body{background-image: url("../LOGO & BACKGROUND/main\ background\ jpeg.png");
    background-attachment: fixed;
    font-family: 'Ysabeau SC', sans-serif;}
.head-background{text-align: center;
width:100%;
margin: 30px;
margin-right: 30px;
border-radius: 14px;
margin-bottom: 10px;
margin-top: 9px;
}
.image{
    width:100px;
    height: 150px;
    border-radius: 12px;
    margin-bottom: 0%;}

.container p {font-size: 12px;
margin-top: 0%;
text-align: center;
word-wrap:break-word;
}

.container{ display: flex;
gap: 16px;
background-color: white;
padding: 17px;
border-radius: 15px;
flex-direction: row;
position: relative;
left: 30px;
flex-wrap:wrap;
margin-top: 0%;
}
